@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

$darkblue : #002244;
$white : #F0F8FF;
$RubikLite: 'Rubik';
$LiteBlue: #E1EBEE;
$Todo: #5D8AA8;
$Completed: #AFDBF5;