@import '../variables/variables.scss';

.NavBar{
    background-color: $darkblue;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 70px;
}

.Title{
    padding-right: 780px;
    color: $white;
    font-family: $RubikLite;
    font-weight: 700;

}

.Links{
    padding-right: 35px;
    font-family: $RubikLite;
}

.Links > a{
    cursor: pointer;
    margin: 0px 40px;
    color: $white;
}
