@import '../variables/variables.scss';

.UpdateInput{
    border-radius: 5px;
    border: solid 1px;
    padding: 5px;
    font-family: $RubikLite;
    font-size: large;
    color: black;
}

.UpdateLabel{
    font-family: $RubikLite;
    font-size: large;
    padding: 20px;
}

.UpdateMain{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}

.UpdateButton{
    background-color: $darkblue;
    padding: 6px 25px;
    border-radius: 5px;
    border: solid 1px black;
    color: $LiteBlue;
    margin: 20px;
    font-family: $RubikLite;
    font-size: large;
    cursor: pointer;

    &:hover {
        background-color: $LiteBlue;
        color: $darkblue;
    }
}

.Update{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3%;
}